* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #11111b;
}

.modules-left > widget > *,
.modules-center > widget > *, 
.modules-right > widget > * {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1e1e2e;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left > *:nth-child(1),
.modules-center > *:nth-child(1),
.modules-right > *:nth-child(1) {
	color: #91f291;
}
.modules-left > *:nth-child(2),
.modules-center > *:nth-child(2),
.modules-right > *:nth-child(2) {
	color: #91f2c1;
}
.modules-left > *:nth-child(3),
.modules-center > *:nth-child(3),
.modules-right > *:nth-child(3) {
	color: #91f2f2;
}
.modules-left > *:nth-child(4),
.modules-center > *:nth-child(4),
.modules-right > *:nth-child(4) {
	color: #91c1f2;
}
.modules-left > *:nth-child(5),
.modules-center > *:nth-child(5),
.modules-right > *:nth-child(5) {
	color: #9191f2;
}
.modules-left > *:nth-child(6),
.modules-center > *:nth-child(6),
.modules-right > *:nth-child(6) {
	color: #c191f2;
}
.modules-left > *:nth-child(7),
.modules-center > *:nth-child(7),
.modules-right > *:nth-child(7) {
	color: #f291f2;
}
.modules-left > *:nth-child(8),
.modules-center > *:nth-child(8),
.modules-right > *:nth-child(8) {
	color: #f291c1;
}


#pulseaudio.muted {
  color: #a6adc8;
}


tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
